
/* FRONTPAGE */

#top-section{
	height: 450px;
}
.left-art{
	width: 40%;
}
.side-art{

	width: 60%;
	float: right;
}
#bottom-section{
	height: 350px;

}
#bottom-section p{
	margin-block-end: 5px;
	font-weight: bold;
}
ul{
	margin-top: 0;
}
.box-art{
	background-color: #2196F3;
	height: 200px;
	width: 200px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px ridge #000000;
	text-align: center;
	color: white;
}
.box-art h4{
	font-weight: bold;
	margin-bottom: 10px;
}
.box-art p{
	margin: 0;
	font-weight: bold;
}
.box-art a{
	margin-top: 4px;
	color: white;

}